
<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Twitter</title>
<link rel="stylesheet" href="../stylesheets/style.css" type="text/css" />
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<style>
a.navigate {
	font-size: 30px;
}
a.navigate1 {
	font-size: 20px;
}
</style>


</head>
<body class="login" ng-app="homeAngular" ng-controller="homeController">
<!-- header starts here -->
<div id="twitter1-Bar">
  <div id="twitter1-Frame">
<div id="logo1"> <a href="/home"><span class="glyphicon glyphicon-home" style="font-size: 16px; color: #505050 ;"></span>&nbsp;<span style="font-size: 17px; color: #B0B0B0 ;">Home</span></a>&nbsp;&nbsp;
    <
       <a href="/about"><span class="glyphicon glyphicon-th-large" style="font-size: 16px; color: #505050 ;"></span>&nbsp;<span style="font-size: 20px; font-stretch: 5px; color: #B0B0B0 ; ">Profile</span></a>&nbsp;&nbsp;
       <a href="/home"><span class="glyphicon glyphicon-bell" style="font-size: 16px; color: #505050 ;"></span>&nbsp;<span style="font-size: 20px; color: #B0B0B0 ;">Notification</span></a>&nbsp;&nbsp;
       <a href="/home"><span class="glyphicon glyphicon-comment" style="font-size: 16px; color: #505050 ;"></span>&nbsp;<span style="font-size: 20px; color: #B0B0B0 ;"> Message</span></a>&nbsp;&nbsp;


    </div>
             
        <div id="header-main-right">
          <div id="header-main-right-nav">
        
          <table border="0" style="border:dashed;">
            <tr>
              <td ><input type="text" placeholder="Search community" class="inputtext123 " value="" ng-model="search"></td>
              <td ><button class="twbutton" ng-click="searchUser()">Search</button></td><br>
              <td ><button class="twbutton1" ng-click="logout()">Logout</button></td>
              </tr>
              </table>
        
      </div>
      		
          </div>
      </div>
</div>


<br><br><br>
<br>
<br>
  		  		

<div class="container">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="nav">
						<li class="active">
              <a href="/about" class="navigate1" style="color: black; font-style: italic; font-size: 25px;">
              <i class="glyphicon glyphicon-home"></i>
              Details </a>
            </li>
            <li>
              <a href="/workedu" class="navigate1" style="color: black; font-style: italic; font-size: 25px;">
              <i class="glyphicon glyphicon-education"></i>
              Work details </a>
            </li>
            <li>
              <a href="/contactInfo" class="navigate1" style="color: black; font-style: italic; font-size: 25px;">
              <i class="glyphicon glyphicon-phone"></i>
              Contact-Location </a>
            </li>
						
					</ul>
				</div>
				<!-- MENU -->
			</div>
		</div>
		<div class="col-md-9">
            <div class="profile-content">
			   <div style = "padding: 100px 100px 10px;">
   
   				<form class = "bs-example bs-example-form" role = "form">

        <div class = "input-group">
                <span class = "input-group-addon">Username</span>
                <input type = "text" class = "form-control" placeholder = "Where do you live?" ng-model="username12">
              </div>
              <br>


      				<div class = "input-group">
         				<span class = "input-group-addon">Phone No</span>
         				<input type = "text" class = "form-control" placeholder = "10 Digit Number" ng-model="phNo">
      				</div>
		
      				<br>

      				<div class = "input-group">
      					<span class = "input-group-addon">Address</span>
         				<input type = "text" class = "form-control" placeholder = "Where do you live?" ng-model="address">
         			</div>
		
      				<br>
              <div class = "input-group">
                <span class = "input-group-addon">Birth-Date</span>
                <input type = "date" class = "form-control" placeholder = "Enter your Birthdate" ng-model="dob">
              </div>
            <br>
      
      				<button type="button" class="btn btn-success pull-right" ng-click="saveContactInfo()">Save</button>
         			
         			<br>
         			
         			{{saveStatus}}
         			
         		</form>
   
			</div>
			
			   
			   
            </div>
		</div>
	</div>
</div>
<br>
<br>


<script>
  
  	var home = angular.module('homeAngular', []);
	home.controller('homeController', homeOperations); 
	
	<!--Home Function-->
	
	function homeOperations($scope, $http) {
  		
        	$scope.saveContactInfo = function(){
  		
  			var contactInfo = "";
  			
  			contactInfo = {phone:$scope.phNo, address:$scope.address, username:$scope.username12, dob1:$scope.dob};
  			
  			console.log("Inside saveContactInfo function");
  			$http.post("/saveContactInfo", contactInfo)
  			.success(function(data) {
  				console.log("saveContactInfo function");
  				$scope.saveStatus = "DETAILS SAVED SUCCESSFULLY!!!";
  			})
  			
  	}

          $scope.logout = function(){
      
        console.log("Inside logout function");
        $http.post("/logout")
        .success(function(data) {
          console.log("Success returned from Logout");
          window.location.assign("/");
        })
        
      }

  	
  	
}
		
</script>
</body>
</html>
