
<!DOCTYPE html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Twitter</title>
<link rel="stylesheet" href="../stylesheets/style.css" type="text/css" />

<script
  src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script
  src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

</head>

<body class="login" ng-app="loginAngular">
<div id="twitter-Bar">
  <div id="twitter-Frame">
    <div id="logo"> <a href="localhost:3000/homepage"><h1>See what’s happening right now.</h1><br>Find community, conversation and inspiration about the things you love.</a> </div>

    
         
        <div id="header-main-right">
          <div id="header-main-right-nav">
        <form id="login_form" name="login_form" ng-controller="loginController">
          <table border="0" style="border:none">
            <tr>
              <td ><input type="text" tabindex="1"  id="email" placeholder="Email" name="email" class="inputtext radius1" value="" ng-model="loginEmail" required></td>
              <td ><input type="password" tabindex="2" id="pass" placeholder="Password" name="pass" class="inputtext radius1"  ng-model="loginPass" required></td>
                        
              <td ><button class="twbutton" name="login" ng-click="login()">Login</button></td>
            </tr>
          </table>
        </form>
      </div>
          </div>
      </div>
</div>
      
<div class="loginbox radius">
<h2 style="color:#000000; text-align:center;"></h2>
	<div class="loginboxinner radius">
    	<div class="loginheader">
    		<h4 class="title">Join Twitter today</h4>
    	</div><!--loginheader-->
        
        <div class="loginform" ng-controller="loginController">
                    <p>
                    <input type="text" id="username" name="username" placeholder="First Name" value="" class="inputtext radius1" ng-model="fName" required > 
                    <input type="text" id="username" name="username" placeholder="Last Name" value="" class="inputtext radius1" ng-model="lName" required >
                   </p>
                  	<p>
                    <input type="text" id="username" name="username" placeholder="Your Email" value="" class="inputtext radius1" ng-model="emailID" required>
                   </p>
                    <p ng-show="loginform.username.$invalid && !loginform.email.$pristine" class="help-block">Enter a valid email.</p>
                    <p>
                    <input type="password" id="password" name="password" placeholder="Password" class="inputtext radius1" ng-model="paswd" required>
                   </p><br>

                  <p>
                	<button class="radius title" name="client_login" ng-click="newAccount()">Sign Up</button>
                  </p>
        
                        	
        </div>
    </div>
</div>
<script>
  
  	<!--Controllers-->
  	
        var login = angular.module('loginAngular', []);
      	login.controller('loginController', homeOperations); 
      			
	function homeOperations($scope, $http) {
  		
  		$scope.login = function(){
  		
  			var loginInfo = {loginEmail:$scope.loginEmail, loginPass:$scope.loginPass};
  			
  			$http.post("/login", loginInfo)
  			.success(function(data) {
  				console.log("Success returned from Login query");
  				window.location.assign("/home");
            })
  			
  		}
  		
  		
  		$scope.newAccount = function(){
  		
  			console.log("Sign Up angular working...")
  		
  			var signUpInfo = {emailId:$scope.emailID, fName:$scope.fName, lName:$scope.lName, password:$scope.paswd};
  			
  			$http.post("/signUp", signUpInfo)
  			.success(function(data) {
  				console.log("Success returned from Sign Up query");
  				window.location.assign("/home");
            })
  		}
  			
  	}
  		
</script>
</body>
</html>
